body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 720px; // 696+24
  }
  @media screen and (min-width: 1024px) {
    max-width: 990px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1320px; // 1296+24
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s;
}

h1, h2, h3, h4, h5, h6, strong, .strong, b {
  font-weight: bold;
}
