$red-100: #FBF2F2;
$red-200: #AA0601;
$red-300: #650300;
$white:   #ffffff;
$gray:    #707070;
$black:   #000000;

$grid-breakpoints: (
  "": false,
  xs: 360px,
  sm: 414px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

$gutter: 24px;

$spacies: (
  "0": 0px,
  "1": 4px,
  "2": 8px,
  "3": 16px,
  "4": 24px,
  "5": 32px,
  "6": 48px,
  "7": 64px,
  "auto": auto,
);
$property: "m", "p";
$sides: "", "t", "b", "l", "r", "x", "y";
$fzs: (
  "1": 64px,
  "2": 48px,
  "3": 36px,
  "4": 24px,
  "5": 20px,
  "6": 14px,
);
